﻿@{
    ViewBag.Title = "About";
}

@foreach(Chatik.Models.Post post in ViewBag.Posts)
{
    <div>
        @post.Message
    </div>
}

<form method="post" action="/Home/AddPost" class="add-post-form">
    Сообщение: <textarea name="Message"></textarea>
    <br />
    <input type="submit" value="Опубликовать"/>
</form>