﻿@{
    ViewBag.Title = "Home Page";
    /*


    @foreach (var s in ViewBag.Sections)
    {
        <h2>@s.Title</h2>
        foreach (var t in ViewBag.Themes)
        {
            if (t.Id_Section == s.Id)
            {
                <h3>@t.Title</h3>
            }
        }
    }


    @foreach (Chatik.Models.TwoStrings ts in ViewBag.Section_Themes)
    {
        <h2> @ts.s1 , @ts.s2;</h2>
    }*/
}

@foreach(var st in ViewBag.Section_Themes)
{
    <div class="section-block">
        <p title="@st.section.Description">
            <span class="title-header">
                @st.section.Title
            </span>
            <span class="author-header">Автор</span>
            <span class="posts-cnt-header">Сообщений</span>
            <span class="last-post-header">Последний ответ</span>
        </p>
        @foreach(var t in st.themes)
        {
            <div class="theme-block">
                <div class="theme-title"><a href="/Home/@t.Id">@t.Title</a></div>
                <div class="theme-author">Author</div>
                <div class="theme-posts">231</div>
                <div class="theme-last">Last Post</div>
            </div>
        }
    </div>
}