﻿
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

<form method="POST" action="/Home/RegUser" enctype="multipart/form-data">
    <span>Login: </span><input type="text" name="Login"/><br/>
    <span>Password: </span><input type="password" name="PassHash"/><br />
    <span>Repeat: </span><input type="password" id="Repeat"/><br />
    <span>Real Name: </span><input type="text" name="RealName"/><br />
    <span>Email: </span><input type="email" name="Email"/><br />
    <span>Avatar: </span><input type="file" name="AvatarFile"/><br />
    <span>Shown data:</span><br/>
    <label><input type="radio" name="ShownData" value="o" />RealName</label><br/>
    <label><input type="radio" name="ShownData" value="1" />Login</label><br/>
    <label><input type="radio" name="ShownData" value="2" />Email</label><br/>
    <span>Status: </span><textarea name="Status"></textarea><br />
    <input type="button" value="Send" onclick="SendClick(event)"/>
</form>

<script>
    SendClick = (e) => {
        const loginInput = document.querySelector("input[name=Login]");
        if ( ! loginInput ) {
            console.log("Error input(Login) location")
            return;
        }
        if (loginInput.value.length < 2) {
            alert("Login too short");
            return;
        }
        const sd = document.querySelector("input[name=ShownData]:checked");
        if (!sd) {
            alert("Select ShownData");
            return;
        }
        const avaInput = document.querySelector("input[name=AvatarFile]");
        if (!avaInput) {
            console.log(avaInput.value);
            return;
        }
        e.target.closest("FORM").submit();
    }
</script>