﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Authorization block */

.auth-block {
    background-color: #dde;
    border: 2px solid #333;
    height: 43px;
    padding-top: 7px;
    text-align: center;
}
.auth-block span,
.auth-block input[type=button] {
    margin: 0 15px;
}

/* Index - section view */

.section-block {
    border: 3px solid steelBlue;
    border-radius: 7px;
    margin-top: 15px;
}

.section-block p {
    background-color: cornflowerblue;
    border-radius: 4px 4px 0 0;
    color: snow;
    display: flex;
    font-weight: bold;
    margin: 0 0px 3px 0;
    padding: 2px 10px;
}
.title-header {
    width: 51%
}

.author-header {
    width: 15%
}
.posts-cnt-header {
    width: 15%
}
.last-post-header {
    width: 19%
}

.theme-block {
    display: flex;
    padding: 2px 0 0 5px;
}
.theme-title, .theme-author, .theme-posts, .theme-last{
    border: 1px solid lightSteelBlue;
    margin-top: 2px;
    padding: 5px;
}
.theme-title {
    width: 50%;
}
.theme-author {
    width: 15%;
}
.theme-posts {
    width: 15%;
}
.theme-last {
    width: 20%;
}

/* About - Posts by theme */
.add-post-form {
    display: block;
    border: 1px solid cornflowerblue;
    padding: 10px;
    margin: 10px;
}

textarea[name="Message"] {
    height: 100px;
    width: 50%;
}